    <table class="mt-2 table">
        <thead>
            <tr>
                <th >VIN</th >
                <th >ODÔMETRO</th >
                <th >NÍVEL DO COMBUSTÍVEL</th >
                <th >STATUS</th >
                <th >LAT</th >
                <th >LONG</th >
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                <input (change)="onChangeVin($event)" type="text" placeholder="{{ vin }}" value="{{vin}}" class="w-100 m-2">
                </td>
                <td class="p-3">{{odometro}}Km</td>
                <td class="p-3">{{nivelCombustivel}}%</td>
                <td class="p-3">{{status}}</td>
                <td class="p-3">{{lat}}</td>
                <td class="p-3">{{long}}</td>
            </tr>
        </tbody>
    </table>
