<div class="fixed-bottom">
    <table class="mt-2 table-bordared table-striped table-primary text-white ">
        <thead>
            <tr >
                <th class="p-2">CÓDIGO - VIN</th >
                <th class="p-2">ODÔMETRO</th >
                <th class="p-2">NÍVEL DO COMBUSTÍVEL</th >
                <th class="p-2">STATUS</th >
                <th class="p-2">LAT</th >
                <th class="p-2">LONG</th >
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                <input (change)="onChangeVin($event)" type="text" placeholder="{{ vin }}" value="{{vin}}" class="w-90 m-2">
                </td>
                <td class="table-light p-3">{{odometro}}Km</td>
                <td class="table-light p-3">{{nivelCombustivel}}%</td>
                <td class="table-light p-3">{{status}}</td>
                <td class="table-light p-3">{{lat}}</td>
                <td class="table-light p-3">{{long}}</td>
            </tr>
        </tbody>

        <tbody>
            <tr class="rodape">
                <td>
                </td>
                <td class="p-3"></td>
                <td class="p-3"></td>
                <td class="p-3"></td>
                <td class="p-3"></td>
                <td class="p-3"></td>
            </tr>
        </tbody>

    </table>

</div>

